// .navbar-brand {
//     padding-top: var(--#{$prefix}navbar-brand-padding-y);
//     padding-bottom: var(--#{$prefix}navbar-brand-padding-y);
//     margin-right: var(--#{$prefix}navbar-brand-margin-end);
//     @include font-size(var(--#{$prefix}navbar-brand-font-size));
//     color: var(--#{$prefix}navbar-brand-color);
//     text-decoration: if($link-decoration == none, null, none);
//     white-space: nowrap;
  
//     &:hover,
//     &:focus {
//       color: var(--#{$prefix}navbar-brand-hover-color);
//       text-decoration: if($link-hover-decoration == underline, none, null);
//     }
//   }

.navbar-brand {
    color: white;
    --bs-navbar-color: white;
    --bs-navbar-hover-color: white;
    --bs-navbar-disabled-color: white;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: white;
    }

.navbar-nav {
    // color: white;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
    --bs-nav-link-disabled-color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
    }

.justify-content-center {
    justify-content: center !important;
    text-align: center;
    }